<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>You can now speech Pig Latin:</h1>
    <h2><%= @words.piglatinize %></h2>
  </body>
</html>
