<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="post" method="/piglatinize">
    <div>
      <label for="phrase">Enter your phrase:</label>
      <input type="text" id="phrase" name="user_phrase">
    </div>
    <div>
      <button type="submit" id="submit">Submit</button>
    </div>
    </form>

  
  </body>
</html>